@inject tl2_recupercionparcial2_2025_augusto_dip.Services.IAuthenticationService AuthService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tl2_recupercionparcial2_2025_augusto_dip</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tl2_recupercionparcial2_2025_augusto_dip.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Tareas" asp-action="Index">Gestión de Tareas</a>
    </li>
</ul>

<ul class="navbar-nav">
    @if (AuthService.IsAuthenticated())
    {
        <li class="nav-item">
            <span class="nav-link text-dark fw-bold">Hola, @AuthService.GetLoggedUserName()!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-danger btn-sm ms-2" asp-controller="Login" asp-action="Logout">Deslogueo</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary btn-sm ms-2" asp-controller="Login" asp-action="Index">Logueo</a>
        </li>
    }
</ul>
</body>
</html>
