@model tl2_recupercionparcial2_2025_augusto_dip.ViewModels.TareaCreateViewModel

<h2>Alta de Tarea</h2>

<form asp-action="Alta" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Complejidad"></label>
        <input asp-for="Complejidad" class="form-control" type="number" />
        <span asp-validation-for="Complejidad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Estado"></label>
        <select asp-for="Estado" asp-items="Model.ListaEstados" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-success">Guardar Tarea</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}